<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           https://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           https://www.springframework.org/schema/context/spring-context.xsd">
        
       <bean id= "eg" class="com.sri.sbeans.Engine">
       <constructor-arg value="petorl"/>
       <constructor-arg   value="1500h"/>
       </bean>
             
       <bean id= "veh" class="com.sri.sbeans.Vehicle">
        <constructor-arg value="fortuner"/>
        <constructor-arg  ref="eg"/>     
        <property name="tyre" ref="tyre"/>
       </bean>       
       
       <context:component-scan base-package="com.sri.sbeans"/>
       <context:annotation-config/>

           </beans>